@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #353740;
}

nav {
    background-color: black;
    padding: 20px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.466);
    text-align: center;
}

nav > a {
   
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
   
}
 
#botao {
    text-align: center;
    position: relative;
    top: 290px;
}



img {
    position: relative;
    bottom: 130px;
    width: 100px;
    height: 100px;
    
}

#btnDownload {
    position: relative;
    bottom: 120px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
}

h1 {
    background-color: black;
    color:white;
    padding: 50px;
    text-align: center;
    font-size: 5rem;
}

#iconelinke {
    position: relative;
    left: 165px;
    top: 120px;
    width: 80px;
    background-color: rgb(95, 144, 209);
}

#clique {
    text-align: center;
    position: relative;
    top: 160px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
}